* {
    padding: 0px;
    margin: 0px;
}
.App {
    display: flex;
    align-items: center;
    justify-content: center;
}
.bigYouTube {
    box-sizing: border-box;
    width: 100px;
    height: 100px;
}
button:hover {
    cursor: pointer;
}
